
body{
    margin: 2% 10% 0% 5%;
    background-image: url("background_main.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;;
}

#navigator{
   width: 100%;
    height: 50px;
    margin-top: -2%;
    margin-left: 10%;
}
.bookmarks{
    color: aliceblue;
    float: left;
    width:10%;
    height: 100px;
    text-align: center;
    font-size: 30px;
    padding:2%;
    margin-top: -1%;
    text-shadow: 2px 2px #ff0000;
}
.bookmarks:hover{
    color: red;
    float: left;
    width:10%;
    height: 100px;
    text-align: center;
    font-size: 30px;
    text-shadow: 2px 2px aliceblue;
    
}
#image{
    float: initial;
    width: 60%;
    margin-top: -4%;
    border: 3px solid aliceblue;
}
button{
    color: aliceblue;
    background-color: brown;
    border: 1px solid aliceblue;
    padding: 10px;
    width: 6%;
    float:left;
    margin-left: -2%;
    margin-right: 4%;
    position: relative;
    margin-top: 1%;
    
}
button:focus{
    color: black;
    background-color: aliceblue;
    border: 1px solid aliceblue;
    padding: 10px;
    width: 6%;
    float:left;
}
button:hover{
    color: black;
    background-color: aliceblue;
    border: 1px solid aliceblue;
    padding: 10px;
    width: 6%;
    float:left;
}
#changer{
    width: 100%;
    height: 10px;
}
#posts{
    font-size: 50px;
    float: right;
    color: aliceblue;
    text-shadow: 2px 2px #ff0000;
}
#name{
    color: aliceblue;
    font-size: 70px;
    margin-top: -8%;
    font-style: oblique;
    margin-left: 10%;
    text-shadow: 2px 2px #ff0000;
}
#logo{
    margin-top: 0%;
    width: 100px;
    height: 100px;
    
}
.nagwek{
    float: left;
    color: gold;
    margin-left: 40%;
    margin-right: 50%;
    font-size: 50px;
    border: solid 3px gold;
}
.ramka_1{
    font-family: fantasy;
    color: aliceblue;
    text-align: center;
    font-size: 25px;
    float: inherit;
    text-shadow: 4px 4px black;
    border: solid 3px aliceblue;
    width: 50%;
}
.ramka_2{

    margin-top: 2%;
    border: solid 3px aliceblue;
    width: 50%;
    color: aliceblue;
    font-size: 25px;
    font-family: fantasy;
    text-shadow: 4px 4px black;
    float: inherit;
    margin-left: 50%;
}
.ramka_3 {
    margin-bottom: 2%;
    margin-top:2%;
    border: solid 3px aliceblue;
    width: 50%;
    color: aliceblue;
    font-size: 25px;
    font-family: fantasy;
    text-shadow: 4px 4px black;
    float: inherit;
}
#contact_inf{
    float: left;
    color: gold;
    font-size: 30px;
    display: flex;
    margin-left: 20%;
}
.contact{
    border: solid 3px aliceblue;
}
#join, #link, #join_2, #link_2{
    color: aliceblue;
    font-size: 30px;
    float: left;
    padding: 4%;

}
#link:hover,#link_2:hover{
    color: gold;
    font-size: 30px;
}
.mail{
margin-top: -18%;
margin-left: 10%;
widows: 200px;
height: 200px;
}
.tel{
   margin-top: 9%;
   margin-right: 10%;
   color: gold;
   widows: 200px;
   height: 200px;

}
.subtitles{
    color: aliceblue;
    float: left;
    font-size: 30px;
    margin-top: 15%;
    text-shadow: 4px 4px black;      
   
}

#send{
float: left;

}
#call{
float: left;

}
#juz{
    font-size: 30px;
    color: aliceblue;
    display: flex;
    float: left;
    text-shadow: 4px 4px black;
}
#join{
    float: left;

    font-size: 30px;
    text-shadow: 4px 4px black;
}
#container{
    margin-top: 8%;
}
#header{
    font-size: 50px;
    color: aliceblue;
    float: left;
    text-shadow: 4px 4px red;
}
#galery{
    width: 100%;
    height: 300px;
    margin-left: 10%;
    float: left;
}
.image_gallery{
    width: 300px;
    height: 300px;
    float: left;
    margin: 2px 2px 2px 2px;
    border:solid 3px white;
    
}

#container_wpisy{
    margin-top: 5%;
}